@charset "utf-8";

/*column drop*/
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.columna1, .columna2 {
    width: 100%;
}
@media (min-width:  800px){
    .columna1{
        width: 60%;
        -webkit-order:  2;
        order: 2;
    }
    .columna2{
        width: 40%;
        -webkit-order: 1;
        order: 1;
    }

}
@media(min-width: 8000){
    .columna2,.columna3{
        width: 20%;
    }
}

body {
    background-color: #d6d6d6; 
}

h1 {
    text-align: center;
    font-weight: bolder;
    padding-left: 500px;
}

table{
    margin-top: 1cm;
    width: 50%;  
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-size: large;
    border-color: black;
}

tr{
    height: 25px;
}

button {
    width: 100%;
    background-color: #bdbaba; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
  }

.result {
color: rgb(241, 243, 245);
text-align: right;
background-color: #858585;
}

#primerafila{
    background-color: rgb(175, 175, 175);
   
}

#filanaranja{
    background-color: rgb(248, 134, 13);
}

.ac {
    color: rgb(169, 19, 19);
    background-color:rgb(175, 175, 175) ;
  }


