[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
openpyxl = "==3.1.0"
pytest = "==7.2.2"
tkinter = "*"
"tkinter.ttk" = "*"
database = "*"

[dev-packages]

[requires]
python_version = "3.11"
